#body {
  font-family: "PingFang SC", "Arial Narrow", Arial, sans-serif;
}
#header {
  background-color: bisque;
}

.header-div {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: inline-block;
}

.header-img {
  float: left;
  margin: 5px;
}
.img {
  width: 30px;
  height: 30px;
}
.header-left {
  float: left;
  /* margin: 0px auto; */
}

.header-right {
     float: right;
}

.title {
  color: brown;
}
