#body {
  font-family: "PingFang SC", "Arial Narrow", Arial, sans-serif;
}
#header {
  background-color: black;
  height: 50px;
}

a:hover,
a:visited,
a:link,
a:active {
     color: white;
     text-decoration: none;
}

.header-div {
  background-color: black;
}

.header-img {
  float: left;
  margin: 5px;
}
.img {
  width: 30px;
  height: 30px;
}
.header-left {
  float: left;
}
.header-title {
  float: left;
}

.header-right {
  float: right;
}

.title {
  color: brown;
}

.icon {
  width: 30px;
  height: 30px;
}

button {
  height: 40px;
  background-color: rgba(52, 52, 54, 0.5);
  color: white;
  border-color: transparent;
}

button:nth-child(1) {
  background-color: black;
  border-color: rgba(52, 52, 54, 0.5);
  width: 80px;
}
